<dir-nav-bar></dir-nav-bar>

<h1>Jobba: the Hunt</h1>

<h2>Home</h2>

<img class="homeImage" ng-src="{{hero.profileImage}}" style="display: inline-block" />

<div style="display: inline-block">
  <br />Name: {{hero.name}} {{hero.title}}
  <br />Level: {{hero.level}}
  <br />XP: {{hero.xp}}
  <br />Playing Since: {{hero.dateCreated | date:'shortDate'}}
  <br />INVENTORY <button>?</button>
  <br />Armor:
  <span ng-show="hero.equipment.linkedin.done">{{armor}}</span>
  <span ng-hide="hero.equipment.linkedin.done">None</span>
  <br />Weapon:
  <span ng-show="hero.equipment.resume.done">{{weapon}}</span>
  <span ng-hide="hero.equipment.resume.done">None</span>
  <br />Shield:
  <span ng-show="hero.equipment.portfolioSite.done">{{shield}}</span>
  <span ng-hide="hero.equipment.portfolioSite.done">None</span>
  <!-- <br />Helmet:
  <span ng-show="hero.equipment.portfolioSite.done">{{helmet}}</span> -->
  <!-- <span ng-hide="hero.equipment.portfolioSite.done">None</span> -->
  <br />{{hero.equipment.projects.length}} Majickal Gemeralds
  <br />{{hero.equipment.skills.length}} Spellbooks
  <br />{{hero.equipment.meetups}} Gold Pieces <!-- maybe a new contact is gold, meetup is silver? -->


  <!-- <br />Skills: <span ng-repeat="skill in hero.equipment.skills">{{skill}} </span> -->
  <br />
</div>

<div>

  <h2>Jedi Infinite Wisdom Goat Wizard Says:</h2>
  <div>
    {{ currentTip.goatSays }}
    <div>
      <div>
        <span ng-show="currentTip.inputs > 0">
          {{currentTip.description1}}: <input type="text" ng-model="input1" placeholder="{{currentTip.description1}}"/>
        </span>
        <span ng-show="currentTip.inputs > 1">
          {{currentTip.description2}}: <input type="text" ng-model="input2" placeholder="{{currentTip.description2}}"/>
        </span>
      </div>
      <button ng-click="currentTip.invoked()">{{currentTip.buttonText}}</button>
    </div>
  </div>

</div>

<button ng-show="showPreviousButton" ng-click="previousTip()">Previous Tip</button>
<button ng-click="nextTip()">Next Tip</button>

<div>
  <h2>Current Quests</h2>
  <p>quest 1 progress</p>
  <p>quest 2 progress</p>
  <p>quest 3 progress</p>
  <p>quest 4 progress</p>
</div>

<div>
  <h2>Bounty Board</h2>

  <p>job directive here</p>
</div>
