<div class="jobsPageWrapper">

    <dir-nav-bar hero="hero"></dir-nav-bar>

    <!--<button ng-click="openPostJobModal()">Post Job</button>-->

    <div class="bountyBoardTitle">
        <h1>Bounty Board</h1>
    </div>
    <br>
    <div class="outerJobsWrapper">
        <div class="jobsWrapper">
            <div id="jobTabs"><button ng-click="openPostJobModal()">Post Job</button></div>
            <div class="jobClassTitleWrapper">
                <h2 class="jobClassTitle">GUILD JOBS</h2>
            </div>
            <div class="jobClassTitleWrapper" ng-if="realGuildJobs.length === 0">You Have No Guild Jobs Listed</div>
            <div ng-repeat="guild in guilds">
                <!--{{guild.name}}-->
                <div ng-repeat="job in guild.jobs">
                    <dir-job-listing hero="hero" job="job" get-quests="getguild()"></dir-job-listing>
                </div>
            </div>

            <br>
            <div class="jobClassTitleWrapper">
                <h2 class="jobClassTitle">PRIVATE JOBS</h2>
            </div>
            <div ng-repeat="job in privateJobs">
                <dir-job-listing hero="hero" job="job" get-quests="getguild()"></dir-job-listing>
            </div>
            <div class="jobClassTitleWrapper" ng-if="privateJobs.length === 0">You have not listed any private jobs, get on it!</div>
            <br>
            <div class="jobClassTitleWrapper">
                <h2 class="jobClassTitle">PUBLIC JOBS</h2>
            </div>
            <div class="jobClassTitleWrapper" ng-if="publicJobs.length === 0">No Public Jobs... WHAT?!</div>
            <div ng-repeat="job in publicJobs">

                <dir-job-listing hero="hero" job="job" get-quests="getguild()"></dir-job-listing>

            </div>
        </div>
    </div>
</div>

<div class="xpGained" ng-class="{animate: applyAnimation}">
  +{{xpGainedNum}} XP!
</div>
