<div class="profileWrapper">

       <dir-nav-bar hero="hero"></dir-nav-bar>


  <div class="profilePageHeader">
      <img src="../assets/images/characterSheetHeader.png" alt="">
  </div>
  <div class="profileContentWrapper">
      <div class="heroName">
            <h2 style="text-transform: uppercase; display: inline-block">{{hero.name}} {{hero.title}}</h2>
                <div class="editQuill" ng-click="openEditHeroModal('EDIT HERO')">
                    <img src="../assets/images/25x25-quill.png" />
                </div>
            </div>
      <div class="profileHeader">
        <div class="profileImageWrapper">
            <div class="editQuill"><img src="../assets/images/25x25-quill.png" /></div>
            <img class="profileImage" ng-src="{{hero.profileImage}}" ng-click="openProfileImageModal()" title="Edit Avatar" />
        </div>
        <div class="heroInfo">


            <p>QUESTING SINCE: <span>{{hero.dateCreated | date:'shortDate'}}</span></p>
            <p>LEVEL: <span>0{{hero.level}}</span>    XP: <span>{{hero.xp}}</span></p>

        </div>

        <div class="linksWrapper">
            <!-- <br /> <h2>ACHIEVEMENTS</h2> -->
            <br />RESUME: <a ng-if="hero.equipment.resume.url" target="_blank" ng-href="https://{{hero.equipment.resume.url}}"><span>View</span></a>
            <div class="editQuill" ng-click="openEditHeroModal('EDIT RESUME')"><img src="../assets/images/25x25-quill.png" /></div>
            <br />LINKEDIN: <a ng-if="hero.equipment.linkedin.url" target="_blank" ng-href="https://{{hero.equipment.linkedin.url}}"><span>View</span></a>
            <div class="editQuill" ng-click="openEditHeroModal('EDIT LINKEDIN')"><img src="../assets/images/25x25-quill.png" /></div>
            <br />PORTFOLIO: <a ng-if="hero.equipment.portfolioSite.url" target="_blank" ng-href="https://{{hero.equipment.portfolioSite.url}}"><span>View</span></a>
            <div class="editQuill" ng-click="openEditHeroModal('EDIT PORTFOLIO')"><img src="../assets/images/25x25-quill.png" /></div>
        </div>
    </div>
    <div class="centerColumn">
        <div class="skillsHeader">
            <h2>Your skills</h2>
            <div class="editQuill" ng-click="openEditSkillsModal">
                <img   src="../assets/images/25x25-quill.png">
            </div>
        </div>
        <div class="skillsWrapper">
            <span class="profileSkill" ng-repeat="skill in hero.equipment.skills track by $index">{{skill}}<span ng-if="!$last">,&nbsp</span></span>
        </div>
        <div ng-if="hero.equipment.skills.length < 1">You have not added any skills yet</div>
        <br>
        <h2>Your projects</h2>
        <div class="projectsWrapper">
            <div class="projectWrapper" ng-repeat="project in hero.equipment.projects">
                <a target="_blank" href="https://{{project.url}}">{{project.name}}<span ng-if="!$last">,&nbsp</span></a>
            </div>
        </div>
        <p ng-if="hero.equipment.projects.length < 0">You have not added any projects yet.</p>
        <div class="profileGuildsWrapper">
        <br/>
        <h2>Guilds You Belong To</h2>
        <div class="profileGuilds" ng-repeat="guild in guilds">
        {{guild.name}}
        <button ng-click="leaveGuild(guild, hero)">Leave Guild</button>
        </div>
    </div>
    <div class="profileGuildsWarning" ng-if="guilds.length < 1">You do not belong to any guilds yet</div>
    <div>
        <br/>
        <h2>Jobs Submitted</h2>
        <div class="profileJobs" ng-repeat="job in jobs | filter: {archived: false}">
        <dir-job-listing job="job" hero="hero" get-quests="getJobs()"></dir-job-listing>
        </div>
        <div class="profileJobsWarning" ng-if="jobs.length < 1">You have not posted any jobs yet</div>
    </div>

    <div>
        <br/>
        <h2>Resources Submitted</h2>
        <div ng-repeat="resource in resources">
        <dir-resources resource="resource" hero="hero" get-resources="getResources()"></dir-resources>
        </div>
        <div class="profileResourcesWarning" ng-if="resources.length < 1">You have not posted any resources yet</div>
    </div>
    </div>
  </div>



  <button class="deleteProfileButton" ng-click="deleteProfile()">Delete Profile</button>
  <!--<div>
    <br />
    <h2>Progress</h2>
    <div class="progressChart">Chart Placeholder</div>
  </div>-->

</div>
