<div class="guildmasterWrapper">

<dir-nav-bar hero="hero"></dir-nav-bar>

<a ui-sref="profile({id:'56cbaa30e4519bd90bf118ab'})">TEMP LinK</a>

<div><h1>GUILDHALL</h1></div>
<div><button ng-click="openGuildModal()">New Guild</button></div>
<br/>

<div class="guildList" ng-repeat="guild in guilds">
  <h2><br/>{{guild.name}}</h2>
  <div class="editQuill" ng-click="openEditGuildModal(guild)"><img src="..\assets\25x25-quill.png" /></div>
  <button ng-click="leaveGuild(guild, hero)">Leave</button>
  <div class="deleteBones" ng-click="deleteGuild(guild._id)"><img src="..\assets\25x25-crossbones.png" /></div>
  <p>GUILDMASTER:</p> {{guild._guildMaster.name}}
    <p>GUILDMEMBERS: </p>
  <div ng-repeat="member in guild._guildMembers">
    {{member.name}}
  </div>
</div>
<div ng-if="guilds.length < 1">You do not belong to any guilds yet</div>
{{member.name}}

</div>
