Will this show UP?
<div ng-repeat="guild in guilds">
    <div ng-repeat="jobs in guild.jobs">
        <a ng-href="{{jobs.companyUrl}}">{{jobs.companyName}}</a>
        position{{jobs.position}}
        location{{jobs.location}}
    </div>
</div>



<button ng-click="acceptQuest(job._id, hero._id, stepsId)">accept quest</button>
<div class="editQuill" ng-if="hero._id === job._author" ng-click="openEditJobModal(job)" ng-click="editJob(job._id, hero._id)"><img src="..\assets\25x25-quill.png" /></div>
<div class="deleteBones" ng-if="hero._id === job._author" ng-click="deleteJob(job._id)"><img src="../assets/images/25x25-crossbones.png" /></div>
