////// Wisdom Goat ////////

.wisdomGoatSaysTitle
  display: flex
  justify-content: center
  width: 100%

.previousButton
  font-size: 2em

.wisdomGoatContentWrapper
  display: flex
  width: 100%
  height: 10em
  justify-content: center

.wisdomGoatButtonsAlignment
  display: flex
  align-items: center

.wisdomGoatPicWrapper
  position: absolute
  display: flex
  width: 4em
  background-color: white
  border: 1px solid black
  border-radius: 25px

.wisdomGoatPic
  position: absolute
  left: -1em
  top:  -1em
  width: 3em

.wisdomGoatContent
  display: flex
  position: relative
  height: 10em
  width: 20em
  border: 1px solid black
  border-radius: 25px

.nextButton
  font-size: 2em

//////// Bounty Board //////
.homeBountyBoardTitle
  display: flex
  justify-content: center
  width: 100%

.homeBountyBoardOuterJobWrapper
  display: flex
  width: 100%
  justify-content: center


.homeBountyBoardJobWrapper
  display: flex
  justify-content: center
  flex-direction: column
  flex-wrap: wrap
  height: 14em
  padding-right: 25em


