//// profile and Goat Placement/////

.avatarAndGoatWrapper
  display: flex
  width: 100%
  flex-direction: row

.avatarWrapper
  display: flex
  justify-content: center
  width: 50%

.goatWrapper
  display: flex
  justify-content: center
  width: 50%
////// Wisdom Goat ////////

.wisdomGoatSaysTitle
  display: flex
  justify-content: center
  width: 100%

.previousButton
  font-size: 2em
  cursor: pointer

.wisdomGoatContentWrapper
  display: flex
  width: 100%
  height: 10em
  justify-content: center

.wisdomGoatButtonsAlignment
  display: flex
  align-items: center

.wisdomGoatPicWrapper
  position: absolute
  display: flex
  width: 4em
  background-color: white
  border: 1px solid black
  border-radius: 25px

.wisdomGoatPic
  position: absolute
  left: -1.5em
  top: -1.5em
  width: 3em

.wisdomGoatContent
  display: flex
  position: relative
  flex-direction: column
  justify-content: center
  align-items: center
  height: 10em
  width: 20em
  border: 3px solid black
  border-radius: 25px
  background-color: #C6E7FE

.tipAndSpeechCentering
  display: flex
  flex-direction: column
  width: 100%
  justify-content: center
  align-items: center

.goatTip
  display: flex
  width: 100%
  justify-content: center
  padding-left: 1.85em
  padding-right: 1em
  margin-bottom: .5em

.goatSubmitTipButton
  position: absolute
  //display: flex
  //align-content: flex-end
  //width: 100%
  bottom: 5%
  left: 35%

.firstTip

.secondTip

.nextButton
  font-size: 2em
  cursor: pointer

//////// Bounty Board ////////

.homeBountyBoardTitle
  display: flex
  justify-content: center
  width: 100%

.homeBountyBoardOuterJobWrapper
  display: flex
  width: 100%
  justify-content: flex-start

.homeBountyBoardJobWrapper
  display: flex
  justify-content: flex-start
  flex-direction: column
  flex-wrap: wrap
  height: 12em
  padding-left: 13%
  padding-right: 13%

//////// Quest Steps //////////

.questH2
  text-align: center

.questTitle
  text-align: center

.questStartText
  text-align: center

.stepsWrapper
  display: inline-block

.stepColumn
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 200px
  width: 120px
  position: relative

.topStepImageWrapper
  height: 50px
  width: 50px

.progressBarWrapper
  position: relative

.progressCircle
  border-radius: 100%
  border: 2px solid #000
  height: 20px
  width: 20px
  display: inline-block
  z-index: 1
  background-color: white

.completed
  background-color: black

.progressBar
  height: 10px
  width: 120px
  display: inline-block
  bottom: 5px
  position: absolute
  z-index: 0

.stepDialogue
  position: absolute
  width: 200px
  font-size: 12px
  top: 0
  z-index: 2
