.navbarWrapper
    background: rgba(40,129,230,1);
    background: -moz-linear-gradient(top, rgba(40,129,230,1) 0%, rgba(40,129,230,1) 17%, rgba(82,161,235,1) 49%, rgba(82,161,235,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,129,230,1)), color-stop(17%, rgba(40,129,230,1)), color-stop(49%, rgba(82,161,235,1)), color-stop(100%, rgba(82,161,235,1)));
    background: -webkit-linear-gradient(top, rgba(40,129,230,1) 0%, rgba(40,129,230,1) 17%, rgba(82,161,235,1) 49%, rgba(82,161,235,1) 100%);
    background: -o-linear-gradient(top, rgba(40,129,230,1) 0%, rgba(40,129,230,1) 17%, rgba(82,161,235,1) 49%, rgba(82,161,235,1) 100%);
    background: -ms-linear-gradient(top, rgba(40,129,230,1) 0%, rgba(40,129,230,1) 17%, rgba(82,161,235,1) 49%, rgba(82,161,235,1) 100%);
    background: linear-gradient(to bottom, rgba(40,129,230,1) 0%, rgba(40,129,230,1) 17%, rgba(82,161,235,1) 49%, rgba(82,161,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2881e6', endColorstr='#52a1eb', GradientType=0 );
    margin-bottom: 2em

.navbar
  width: 100%
  line-height: 2.5em
  display: flex
  justify-content: space-around

  a
    color: black
    font-size: 22px

    &:hover
      color: white
      background: black

.sky
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.titleScroll
    display: flex
    flex-direction: column
    justify-content: center
    background: url("../assets/images/navScroll.png")
    background-size: cover
    background-repeat: no-repeat
    width: 710px
    height: 200px


    h1



.littleGuys
    display: flex
    justify-content: space-between
    position: relative
    padding: 0em 6em 0em 6em
    width: 100%
    height: 20px


.goatImage
    position: relative
    bottom: 10px


.grass
    background: url("../assets/images/navGrass.png")
    width: 100
    background-size: cover
    height: 40px
