.profileWrapper
  height: 100vh
  width: 100%
  
.profileHeader
  width: 100%
  display: flex
  justify-content: space-around
  flex-direction: row

.profileImageWrapper
  width: 150px
  height: 150px
  display: inline-block
  position: relative

  .editQuill
    position: absolute
    right: 0px
    display: none

  &:hover
    .editQuill
      display: block

.profileImage
  cursor: pointer
  height: 100%
  width: auto
  display: block
  margin: 0 auto
 
.heroInfo
  display: flex    

.centerColumn
  width: 100%
  padding: 0em 5em 0em 5em
  display: flex
  flex-direction: column

.profileGuilds
  display: flex
  justify-content: space-between  
  
.profileJobs
  display: flex
  
  dir-job-listing
    display: flex
    justify-content: space-around  

