.resourcePageWrapper
    background-size: cover
    min-height: 100vh 

    h1
        text-align: center

.resourcesHeader
    padding: 1em

.resourcesWrapper
    padding: 0em 5em 0em 5em
    display: flex
    width: 100%
    flex-direction: column
            
.resource
    line-height: 1.5em
    