$bordercolor: #D0D0D0

.splashWrapper
    padding: 2em
    width: 100%
    min-height: 100vh

    h1
        text-align: center

    h3
        text-align: center

.loginWrapper
  display: flex
  justify-content: center
  align-content: center
  width: 100%
  height: 100%


.loginBox
  display: flex
  flex-direction: column
  justify-content: center
  border: 2px solid #2E2D67
  width: 13em
  height: auto
  text-align: center
  line-height: 1em
  margin: 2em 0em
  background: #50779E
  padding: 1em
  

  label
    font-size: 12px

  input
    margin-bottom: .5em

.staticWrapper
    display: flex
    justify-content: space-around

.blurb
    text-align: center
    display: flex
    flex-direction: column
    padding: 1em
    min-width: 33%
    background-color: rgba(149, 209, 244, 0.2)

.screenShot
    height: 8em
    width: 8em
    background: #FAEB95
    border: 2px solid #2E2D67
    align-self: center
    border-radius: 50%
