splash view

<dir-nav-bar></dir-nav-bar>

<div class="loginWrapper">
    <div class="loginBox">
        <h4>Log in</h4>
        <label>Email</label>
        <input ng-model="hero.email" type="text" placeholder="Email">
        <label>Password</label>
        <input ng-model="hero.password" type="password" placeholder="Password">
        <button ng-click="submitLogin(hero)">Submit</button>
    </div>
</div>
<label>Not a member?</label>
<button ng-click="openSignUpModal()">Create New Character</button>
<div class="staticWrapper">
    <div class="imageWrapper">
        
    </div>
    <div class="blurbWrapper">
        <h3>Your Quest Begins...</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget eros tempus, vestibulum sapien nec, aliquet magna. Curabitur vitae mauris nulla. In lacinia elit a mi imperdiet, in ultrices purus lacinia. Curabitur porta ornare diam. Praesent varius nunc vel pulvinar venenatis. Ut tempor neque est, eget mattis velit molestie quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Ut vitae erat vitae odio vulputate scelerisque vel a ex. In convallis, risus vel rutrum scelerisque, leo mauris finibus quam, eu imperdiet sem odio in ex. Proin at odio consequat, semper urna molestie, venenatis nibh. In neque orci, aliquam ut dui eget, pellentesque imperdiet metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec maximus porttitor elit sit amet accumsan.</p>
    </div>
</div>

