<div class="splashWrapper">
    <h1>No Jobba: The Hunt</h1>
    <h3>The job application process, awesomified</h3>
    <div class="loginWrapper">
    <div class="loginBox">
       <form>
           <h2>Log in</h2>
            <label>Email</label>
            <br>
            <input ng-model="hero.email" type="text" placeholder="Email" autofocus>
            <br>
            <label>Password</label>
            <br>
            <input ng-model="hero.password" type="password" placeholder="Password">
            <button ng-click="submitLogin(hero)">Submit</button>
        </form> 
        <label>Not a member?</label>
        <button ng-click="openSignUpModal()">Create New Character</button>
          
    </div>
    </div>
    <div class="staticWrapper">
        <div class="blurb">
            <div class="screenShot"></div>
            <h3>Your Quest Begins...</h3>
            <p>Head over to the Bountyboard to find available quests.  Accept them to begin your journey of awesome!  </p>
        </div>
        <div class="blurb">
            <div class="screenShot"></div>
            <h3>Arm yourself!</h3>
            <p>Follow the advice of Wisdom Goat to arm yourself with the best weapons in the fight with No Jobba.  </p>
        </div>
        <div class="blurb">
            <div class="screenShot"></div>
            <h3>Level up!</h3>
            <p>Gain XP as you do all the things! Upgrade your weapons, armor and everything as you accept quests, post jobs and do all things!</p>
        </div>
    </div>
</div>

