<div class="overlay">
    <h4>Create New Resource</h4>
    <label>Title</label>
    <input ng-model="resource.title" type="text" placeholder="Title">
    <label>Url</label>
    <input ng-model="resource.url" type="text" placeholder="Url">
    <label>Description</label>
    <input ng-model="resource.description" type="text" placeholder="Description">
    <!--<label>Type</label>
    <select name="type" id=""></select>-->
    <button ng-click="createResource(resource)">Submit Resource</button>
</div>
<div class="fade" ng-click="close()"></div>
