<div class="resource">
   <span ng-if="hero._id !== resource._author._id">Posted by: {{resource._author.name}} | </span>Title: {{resource.title}} | Url: <a href="{{resource.url}}">{{resource.url}}</a> | Description: {{resource.description}}
</div>

<div class="editQuill" ng-if="hero._id === resource._author._id" ng-click="openEditResourceModal(resource)"><img src="../assets/images/25x25-quill.png" /></div>
<div class="deleteBones" ng-if="hero._id === resource._author._id" ng-click="deleteResource(resource._id)"><img src="../assets/images/25x25-crossbones.png" /></div>
