<div class="jobInfoWrapper"><!--flex row-->
    <div class="acceptQuestButtonDirWrapper"> <!--flex column/ width100-->
        <button ng-if="!job.accepted" ng-click="acceptQuest(job._id, hero._id, stepsId)">accept</button>
    </div>
    <div class="jobInfoDirWrapper">
        <a ng-href="{{job.companyUrl}}">{{job.companyName}}</a>&nbsp;|
        {{job.position}} |
        {{job.location.city}},{{job.location.state}}


        <div class="editQuestButton">
            <div class="editQuill editButton" ng-if="hero._id === job._author" ng-click="openEditJobModal(job)"
                 ng-click="editJob(job._id, hero._id)"><img src="..\assets\25x25-quill.png"/></div>
        </div>

        <div ng-if="hero._id === job._author" ng-click="deleteJob(job._id)"><img
                src="..\assets\25x25-crossbones.png"/></div>


    </div>
</div>


